<div class="row">
        <div class="col-lg-12">
                <!-- <div class="modal-dialog modal-lg"> -->
<div class="modal-header">
        <span>Search Text</span>
        <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- <div class="modal-body"> -->
         <!-- <nb-card>
            <nb-card-header>
    
    
            </nb-card-header>
            <nb-card-body> -->
               <!-- <div class="form-group row clearfix">-->
                    <div class="col-lg-12"> 
                        <!-- <label class="control-label" for="inputFirstName">Demo Name</label> -->
                        <!-- <div class="input-group input-group-border-only">
                            <input class="form-control form-control-wizly" id="inputFirstName" placeholder="Search" type="text" [(ngModel)]="projectName"> -->
                            <!-- <div class="col-lg-12 col-md-12 col-sm-12"> -->
                            <iframe [src] ="link" style="height:100%;width:100%;"> </iframe>
                            
                            </div>
                            <!-- http://vishal/QPR2017-1/Portal/QPR.Isapi.dll?PGPLUGIN&*10&FMT=p&LAN=en%2c1&MODELID=655625500&OBJECTID=319148456&ZOOM=fs&VIE=0&SMI=&SCNAME=Dentorex%20Group%20Scorecard&PERIOD=latestforall&DPMODE=0
                            <iframe src="https://www.w3schools.com"></iframe> -->
                        </div>
                     </div>
                    <!-- </div> -->
                <!-- </div> -->
            <!-- </nb-card-body>
        </nb-card>  -->
    <!-- </div> -->
    <div class="modal-footer">
        <!-- <button class="btn btn-sm float-right" (click)="passDataBack()">
            Search
        </button> -->
        <button class="btn btn-sm float-right" (click)="closeModal()">
            Close
        </button>
    </div>