<!-- 
<div class="row">
        <div class="col-md-12">
<div class="modal-header">
    <span>My Process</span>
    <button class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <nb-card>
        <!-- <nb-card-header>



        </nb-card-header> -->
        <!-- <nb-card-body> -->
           
            <!-- <div class="form-group row clearfix">
                
                    <label class="control-label" for="inputFirstName">URL</label>
                    <div class="input-group input-group-border-only">
                        <input class="form-control form-control-wizly" id="inputFirstName" placeholder="Enter " type="text" [(ngModel)]="projectName">
                    </div>
                

            </div> -->
        <!-- <div class="col-md-12">

                          <tree-root [nodes]="nodes"  (activate)=treeClick($event)></tree-root>

                        </div>

                        <h1>Roles</h1>
                        <div>

                                <tree-root [nodes]="nodes"  (activate)=treeClick($event)></tree-root>
      
                              </div> 
                          
        </nb-card-body>
    </nb-card>
</div>
<div class="modal-footer">
   
</div>
</div>
</div>  -->