
<div class="row">

    <div class="col-md-12">
      <nb-card>
          <nb-card-header>
              <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
  
                  <div class="button-container">
                    <div class="btn-group btn-group-toggle btn-divided-group btn-outline-divided-group btn-group-full-width btn-divided-checkbox-group "
                      data-toggle="buttons">
      
                      <div class="size-container margin-center">
                          <div>
                            <button class="btn btn-sm" (click)="view()" nbPopover="Hierarchy View" nbPopoverMode="hint" nbPopoverPlacement="bottom">
                              <i class="fa fa-th-list fa-sm"></i>
                            
                              
                            </button>
                          </div>
                        </div>


                        <div class="size-container margin-center">
                          <div>
                            <!-- <button class="btn btn-sm"  (click)="processview()" nbPopover="My Preference" nbPopoverMode="hint" nbPopoverPlacement="bottom">
                              <i class="fa fa-th-list fa-sm"></i>
                            
                              
                            </button> -->
                          </div>
                        </div>
                        <!-- <button class="btn btn-sm" *ngIf="showchild==true" (click)="processview()" nbPopover="Process View" nbPopoverMode="hint" nbPopoverPlacement="bottom"> -->

                      <div class="size-container margin-center">
                        <div>
                          <!-- <button class="btn btn-sm" (click)="open()" nbPopover="Create New Project" nbPopoverMode="hint" nbPopoverPlacement="bottom">
                            <i class="fa fa-plus fa-sm"></i>
                          </button> -->
                        </div>
                      </div>
      
                      <div class="size-container margin-center">
                        <div>
                          <!-- <button class="btn btn-sm" (click)="onRemoveSelected()" nbPopover="Delete Selected Project" nbPopoverMode="hint" nbPopoverPlacement="bottom">
                            <i class="fa fa-trash fa-sm"></i>
                          </button> -->
                        </div>
                      </div>
      
                      <div class="size-container margin-center">
                        <div>
                          <!-- <button class="btn btn-sm" (click)="onSaveChanges()" nbPopover="Save Changes" nbPopoverMode="hint" nbPopoverPlacement="bottom">
                            <i class="fa fa-save fa-sm"></i>
                          </button> -->
                        </div>
                      </div>
      
                      <div class="size-container margin-center">
                        <div>
                          <!-- <button class="btn btn-sm" (click)="openfileDialog()" nbPopover="Import Project" nbPopoverMode="hint" nbPopoverPlacement="bottom">
                            <i class="fa fa-download fa-sm"></i>
                          </button> -->
                        </div>
                      </div>
      
                      <div class="size-container margin-center">
                        <div>
                          <!-- <button class="btn btn-sm" (click)="getDiagram()" nbPopover="Export Project" nbPopoverMode="hint" nbPopoverPlacement="bottom">
                            <i class="fa fa-upload fa-sm"></i>
                          </button> -->
                        </div>
                      </div>
      
                      <div class="size-container margin-center">
                        <div>
                          <!-- <button class="btn btn-sm" (click)="sizeToFitColumns(1)" nbPopover="Size To Fit" nbPopoverMode="hint" nbPopoverPlacement="bottom">
                            <i class="fa fa-compress fa-sm"></i>
                          </button> -->
                        </div>
                      </div>
      
                      <div class="size-container margin-center">
                        <div>
                          <!-- <button class="btn btn-sm" (click)="autoSizeColumns(1)" nbPopover="Auto Size" nbPopoverMode="hint" nbPopoverPlacement="bottom">
                            <i class="fa fa-expand fa-sm"></i>
                          </button> -->
                        </div>
                      </div>
      
                      <div class="size-container margin-center">
                        <div>
                          <!-- <button class="btn btn-sm" nbPopover="Go to Catalog" nbPopoverMode="hint" nbPopoverPlacement="bottom">
                            <i class="fa fa-th-list fa-sm"></i>
                          </button> -->
                        </div>
                      </div>
  
      
                      <div class="size-container margin-center">
                        <div>
                          <!-- <button class="btn btn-sm" nbPopover="Help" nbPopoverMode="hint" nbPopoverPlacement="bottom">
                            <i class="fa fa-question-circle fa-sm"></i>
                          </button> -->
                        </div>
                      </div>
      

                     




                       <div class="size-container margin-center">
                        <div>
                   <button class="btn btn-sm"  (click)="viewload()"  nbPopover="View" nbPopoverMode="hint" nbPopoverPlacement="bottom">
                             <i class="ace-icon fa fa-eye"></i>
                            </button> 
                       </div>
                      </div> 

                  
                      

                    </div>
                  </div>
      
                </div>
         
         
              </div>
            </nb-card-header>
        <nb-card-body>
          <div class="flex-centered col-sm-12">
            <!-- <h2 class="title">Demo</h2> -->
            <!-- <small class="sub-title">A demo.</small> -->
            </div>
         
         
          <div class="flex-centered col-sm-12">
            <!-- <h2 class="title">Link for Demo Description</h2> -->
            <div class="col-lg-12 col-md-12 col-sm-12"></div>
            <iframe [src]="link" style="height:500px;width:1000px;"> </iframe>
            </div>


        </nb-card-body>
      </nb-card>
    </div>
  </div>